<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="test/css" href="{% static 'css/test.css' %}">
    <title>Gestión de Tareas</title>
</head>
<body>
    <h2>Agregar Tarea</h2>
    <form action="/agregar_tarea/" method="post">
        {% csrf_token %}
        <label for="titulo">Título de la tarea:</label><br>
        <input type="text" id="titulo" name="titulo" required><br><br>
        <label for="descripcion">Descripción:</label><br>
        <textarea id="descripcion" name="descripcion" rows="4" cols="50"></textarea><br><br>
        <input type="submit" value="Agregar Tarea">
    </form>
</body>
</html>
