{% extends 'main.html' %}

{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">Lista de Productos</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock Actual</th>
        <th scope="col">Proveedor</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
      <tr>
        <th scope="row">{{ producto.id }}</th>
        <td>
          <a href="{% url 'producto-detail' producto.id %}">{{ producto.nombre }}</a>
        </td>
            <a
            href="{% url 'producto-update' producto.id %}"
            class="btn btn-primary btn-sm"
            >Editar</a
          >
          <a
            href="{% url 'producto-delete' producto.id %}"
            class="btn btn-danger btn-sm"
            >Eliminar</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'producto-create' %}" class="btn btn-success">Nuevo Producto</a>
</div>
{% endblock %}
